<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetSafe || Crear cuenta</title>
    <link rel="icon" href="{% static 'app/img/PetSafe_LOGO_TM.png' %}">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/fontawesome-free-6.1.1-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/estilobase.css' %}">
</head>
<body>

  
  <header class="bg-danger">
    <div class="container p-2">
        <div class="row">
        <div class="col text-center "><a href="#" class="social-color"><i class="fa-brands fa-facebook-square"></i> Facebook</a></div>
        <div class="col text-center"><a href="#" class="social-color"><i class="fa-brands fa-instagram-square"></i> Instagram</a></div>
        <div class="col text-center"><a href="#" class="social-color"><i class="fa-brands fa-twitter-square"></i> Twitter</a></div>
        </div>
    </div>    
</header>

<div class="navcolor">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
          <a href="{% url 'inicioSexionIni' %}" class="navbar-brand"><img src="{% static 'app/img/PetSafe_LOGO_TM.png' %}" alt="" width="75px"></a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
                  <a href="{% url 'inicioSexionIni' %}" class="nav-item nav-link" >Inicio</a>
              </div>
              <div class="navbar-nav ms-auto">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#myModal">Iniciar sesion</a>
              </div>
          </div>
      </div>
  </nav>
  </div>
</div> 

{% block contenido %}  
{% endblock %}

<!-- Modal inicio de sesion -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Iniciar sesion</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div style="text-align: center;">
            <form action="inicio.html" method="GET">
            <div class="form-group"> <!--Form-group llama al estilo de bootstrap-->
                <label for="txtUser">Usuario</label>
                <input type="text" class="form-control" id="txtUser" name="txtUser" placeholder="Ej:Tobias uwu">
                <!--Form-control para aplicar el estilo-->
            </div>
            <div class="form-group">
                <label for="txtPass">Contraseña</label>
                <input type="password" class="form-control" id="txtPass" name="txtPass" placeholder="Ej: 12345">
            </div>


            <input type="submit" id="btnEnviar" name="btnEnviar" class="btn btn-success">
            <input type="reset" id="btnLimpiar" name="btnLimpiar" class="btn btn-danger">
        </form>
        </div>
    </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" >
          <a class="nav-link" href="{% url 'formularioCrearCuenta' %}"  style="color: white;">Crear cuenta</a>
        </button>
      </div>

    </div>
  </div>
</div>


<footer class="main-footer">
  <div class="footer_section">
    <h2 class="footer_title">Acerca de</h2>
    <p class="footer_txt">Tienda especialista en productos para mascotas,con el fin de ayudar a una fundación sin fines de lucro.</p>
  </div>
  <div class="footer_section">
    <h2 class="footer_title">Ubicación :</h2>
    <p class="footer_txt">Avenida Concha Y Toro, Av. San Carlos 1340, Puente Alto, Región Metropolitana</p><a href="https://goo.gl/maps/KCAv6xxC2q2qp2in8?coh=178571&entry=tt"></a>
    
  </div>
  <div class="footer_section">
    <h2 class="footer_title">Contacto</h2>
    <p class="footer_txt">Teléfono : +56 9 12345678</p>
    <p class="footer_txt">Correo : PetSafe@gmail.com</p>
  </div>
  <div class="footer_section">
    <h2 class="footer_title">Suscríbete a tus ofertas</h2>
    <p class="footer_txt">Al suscribirse a nuestra lista de correo, siempre recibirá nuestras últimas noticias y actualizaciones..</p>
    <input type="email" class="footer_input" placeholder="Ingese su correo" id="email-input">
  </div>
  <script>
    const emailInput = document.getElementById('email-input');
    
    emailInput.addEventListener('keydown', (event) => {
      if (event.key === 'Enter') {
        emailInput.value = '';
      }
    });
  </script>
  <p class="copy">© 2023 PetSafe. Reservados todos los derechos | Diseño por Waldsaikou</p>
</footer>
    <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html> 